.logo{
    height: 50px;
    width: 50px;
    
}

.nav{
    padding-left: 40px;
    padding-top: 30px;
    background-color: #626361;
}

#boton-save{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.btn-file{
    display: block;
    padding: 8px 21px;
    border: 1px solid blue;
    border-radius: 6px;
    background-color: blue;
    cursor: pointer;
    color: white;
}
